h1{text-align: center;
border-color: rgb(4, 255, 0);
border-style: inset;
border-width: 5px;
  }

h2{text-align: center;
  border-color: rgb(35, 7, 250);
  border-style: groove;
  border-width: 5px;
}

body{
    background-color: rgb(206, 217, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{align-items: center;
    width: 900px;
}

h3{text-align: center;
border-color: blue;
border-style: groove;
border-width: 5px;
}

h4{text-align: center;
border-color: aquamarine;
border-style: inherit;
border-width: 5px;
}